.container {
  margin: 3rem auto;
  font-family: 'Inter';
}
.card {
  max-width: 22rem;
  margin: 10px;
  .card-body {

  }
  div {
    color: white;
  }
  img {
    margin-top: 1rem;
    border-radius: 10px;
    height: 500px;
  }
  button {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    border: 2px solid #fff;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
