<div class="row container">
  <div class="col-12 col-sm-6 col-lg-4" *ngFor="let item of products">
    <div class="card bg-dark container">
      <img [src]="item.image" [alt]="item.name">
      <div class="card-body">
        <h3 class="card-title">{{ item.name }}</h3>
        <h5 class="card-text">Price: {{item.price}} $</h5>
        <p class="card-text">{{ item.description }}</p>
        <button class="btn" (click)="addToCart(item)" *ngIf="!isAdmin">Add To Cart</button>
        <button class="btn btn-danger" (click)="deleteProduct(item.id)" *ngIf="isAdmin">Delete</button>
      </div>
    </div>
  </div>
</div>
