.container {
  margin: 3rem auto;
  font-family: 'Inter';
}
.card {
  max-width: 22rem;
  margin: 10px;
  .card-body {

  }
  div {
    color: white;
  }
  img {
    margin-top: 1rem;
    border-radius: 10px;
    height: 500px;
  }
  button {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    border: 2px solid #fff;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
.edit-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  button {
    margin-top: 10px;
  }
}
