.container {
  margin-top: 3rem;
}
.card {
  width: 18rem;
  margin: 10px;
  div {
    color: white;
  }
  img {
    margin-top: 1rem;
    border-radius: 10px;
  }
  button {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    border: 2px solid #fff;
  }
}
