<form class="container">
  <!-- Name input -->
  <div class="form-outline mb-4">
    <input type="text" id="form2Example0" class="form-control" />
    <label class="form-label" for="form2Example0">Name</label>
  </div>

  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Phone input -->
  <div class="form-outline mb-4">
    <input type="tel" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Phone</label>
  </div>

  <!-- Address input -->
  <div class="form-outline mb-4">
    <input type="text" id="form2Example3" class="form-control" />
    <label class="form-label" for="form2Example3">Address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example4" class="form-control" />
    <label class="form-label" for="form2Example4">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
    </div>
  </div>

  <!-- Submit button -->
  <button type="button" class="btn">Sign Up</button>

  <div class="text-center">
    <p>Already have an account? <a routerLink="auth">Login</a></p>
  </div>
</form>
