form {
  margin-top: 7rem;
  max-width: 40rem;
  color: #fff;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 168.523%;
  button {
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 10px;
    border: 2px solid #fff;
    &:hover {
      background-color: white;
      color: black;
    }
  }
}
