<div class="container dark-bg">
  <div class="row">
    <div class="col-12">
      <h2 class="text-light">Your Cart</h2>
      <div *ngIf="cartItems.length === 0" class="alert alert-info bg-dark text-light">
        Your cart is empty.
      </div>
      <ul class="list-group" *ngIf="cartItems.length > 0">
        <li
          class="list-group-item dark-item d-flex justify-content-between align-items-center"
          *ngFor="let item of cartItems"
        >
          <div class="row align-items-center">
            <div class="col-md-3 col-sm-12">
              <img [src]="item.image" [alt]="item.name" height="100" width="80" />
            </div>
            <div class="col-md-9 col-sm-12">
              <h3 class="text-light">{{ item.name }}</h3>
              <span class="text-light">{{ item.description }}</span>
            </div>
          </div>
          <div>
            <span class="text-light">Price: ${{ item.price }}</span> <br>
            <button
              class="btn btn-danger align-middle"
              (click)="removeFromCart(item)"
            >
              Remove
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button class="btn btn-secondary btn-lg align-middle" routerLink="checkout" *ngIf="cartItems.length > 0">Buy Now</button>
</div>
