.dark-bg {
  background-color: #333;
  color: #fff; /* Text color */
  padding: 20px;
}

.dark-item {
  background-color: #444;
}

.text-light {
  color: #fff;
}
.container {
  border-radius: 10px;
}

.btn-danger {
  width: 100%;
}

.btn-secondary{
  margin-top: 15px;
}
