<form class="container" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" ngModel name="email" required email/>
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" ngModel name="password" required minlength="6" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- Submit button (type="submit") -->
  <button type="submit" class="btn">Sign in</button>

  <div class="text-center">
    <p>Not a member? <a class="link-light link-underline-opacity-25-hover" routerLink="register">Register</a></p>
  </div>
</form>
