nav {
  padding: .5rem 4.5rem;
  font-size: larger;
  color: green;
  h1{
    color: #fff;
    font-family: Inter;
    font-size: 30.4px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    cursor: pointer;
  }
}

